@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Work Sans", sans-serif;
}

.background{
    height: 20rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.background-mobile{
    background-image: url('./background-pattern-mobile.svg');

    @media screen and (min-width: 768px) {
        background-image: url('./background-pattern-desktop.svg');

        
    }
}